apiVersion: apps/v1
kind: Deployment
metadata:
  name: register-app-deployment
spec:
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1  # Allow 1 pod to be killed first
      maxSurge: 0        # Don't try to create extra pods until space is free
spec:
  replicas: 2
  selector:
    matchLabels:
      app: register-app
  template:
    metadata:
      labels:
        app: register-app
    spec:
      containers:
        - name: register-app
          image: jayshukla2913/register-app-pipeline:1.0.0-49
          resources:
            limits:
              memory: "256Mi"
              cpu: "100m"
          ports:
            - containerPort: 8080
